<%= simple_form_for(@profile) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :username %>
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :bio %>
    <%= f.input :homebase %>
    <%= f.file_field :avatar %>
    <%= f.hidden_field :user_type, value: user_type%>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-profile mt-2" %>
  </div>
<% end %>
