
<%= simple_form_for(@listing) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :date_taken, as: :date, start_year: Date.today.year - 30, end_year: Date.today.year %>
    <%= f.input :category, collection: [ "Ocean", "Nature", "Cities", "Objects", "Other"] %> 
    <%= f.input :available, collection: [ "Print", "Framed", "File" ] %>
    <%= f.input :price, input_html: { min: 0 }%>
    <%= f.file_field :images, multiple: true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-profile mt-2" %>
  </div>
<% end %>
