<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @listing.title %>
</p>

<% @listing.images.each do |image|%>
  <%= image_tag image, class: "img-listing"%>
<% end %>

<p>
  <strong>Description:</strong>
  <%= @listing.description %>
</p>

<p>
  <strong>Date taken:</strong>
  <%= @listing.date_taken %>
</p>

<p>
  <strong>Category:</strong>
  <%= @listing.category %>
</p>

<p>
  <strong>Available as:</strong>
  <%= @listing.available %>
</p>

<p>
  <strong>Price:</strong>
  $<%= @listing.price %>
</p>

<p>
  <strong>Seller:</strong>
  <%= @listing.seller.username%>
</p>

<% if current_user && current_user.profile && (current_user.profile.id == @listing.seller.id)%>
  <%= link_to 'Edit', edit_listing_path(@listing) %>
<% else %>
  <% if @listing.buyer %>
    <button class="btn btn-danger">Sold</button>
    <%= link_to 'Leave Review', new_review_path(:listing => @listing), class: "btn btn-success" %>
  <% else %>
    <%= link_to 'Buy', payment_path(photograph_id: @listing.id), method: :post, class: "btn btn-success"%>
  <% end %>
<% end %>
<%= link_to 'Back', listings_path %>
