<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @listing.title %>
</p>

<% @listing.images.each do |image|%>
  <%= image_tag image, class: "img-listing"%>
<% end %>

<p>
  <strong>Description:</strong>
  <%= @listing.description %>
</p>

<p>
  <strong>Date taken:</strong>
  <%= @listing.date_taken %>
</p>

<p>
  <strong>Category:</strong>
  <%= @listing.category %>
</p>

<p>
  <strong>Available as:</strong>
  <%= @listing.available %>
</p>

<p>
  <strong>Price:</strong>
  $<%= @listing.price %>
</p>

<p>
  <strong>Seller:</strong>
  <%= @listing.seller.username%>
</p>

<%= link_to 'Edit', edit_listing_path(@listing) %> |
<%= link_to 'Back', listings_path %>
